加入連結：https://www.rfc-editor.org/

"RFC 3339
建議標準


網路工作小組 G. Klyne
徵求意見稿：3339 Clearswift 公司
類別：標準追蹤 C. Newman 
                                                        Sun Microsystems 
                                                               2002 年 7 月


               網路上的日期和時間：時間戳

Status of this Memo

   This document specifies an Internet standards track protocol for the
   Internet community, and requests discussion and suggestions for
   improvements.  Please refer to the current edition of the "Internet
   Official Protocol Standards" (STD 1) for the standardization state
   and status of this protocol.  Distribution of this memo is unlimited.

Copyright Notice

   Copyright (C) The Internet Society (2002).  All Rights Reserved.

Abstract

   This document defines a date and time format for use in Internet
   protocols that is a profile of the ISO 8601 standard for
   representation of dates and times using the Gregorian calendar.

Table of Contents

   1. Introduction ............................................ 2
   2. Definitions ............................................. 3
   3. Two Digit Years ......................................... 4
   4. Local Time .............................................. 4
   4.1. Coordinated Universal Time (UTC) ...................... 4
   4.2. Local Offsets ......................................... 5
   4.3. Unknown Local Offset Convention ....................... 5
   4.4. Unqualified Local Time ................................ 5
   5. Date and Time format .................................... 6
   5.1. Ordering .............................................. 6
   5.2. Human Readability ..................................... 6
   5.3. Rarely Used Options ................................... 7
   5.4. Redundant Information ................................. 7
   5.5. Simplicity ............................................ 7
   5.6. Internet Date/Time Format ............................. 8
   5.7. Restrictions .......................................... 9
   5.8. Examples ............................................. 10
   6. References ............................................. 10
   7. Security Considerations ................................ 11



Klyne, et. al.              Standards Track                     [Page 1]
RFC 3339       Date and Time on the Internet: Timestamps       July 2002


   Appendix A. ISO 8601 Collected ABNF ....................... 12
   Appendix B. Day of the Week ............................... 14
   Appendix C. Leap Years .................................... 14
   Appendix D. Leap Seconds ..............................,... 15
   Acknowledgements .......................................... 17
   Authors' Addresses ........................................ 17
   Full Copyright Statement .................................. 18

1. Introduction

   Date and time formats cause a lot of confusion and interoperability
   problems on the Internet.  This document addresses many of the
   problems encountered and makes recommendations to improve consistency
   and interoperability when representing and using date and time in
   Internet protocols.

   This document includes an Internet profile of the ISO 8601 [ISO8601]
   standard for representation of dates and times using the Gregorian
   calendar.

   There are many ways in which date and time values might appear in
   Internet protocols:  this document focuses on just one common usage,
   viz. timestamps for Internet protocol events.  This limited
   consideration has the following consequences:

   o  All dates and times are assumed to be in the "current era",
      somewhere between 0000AD and 9999AD.

   o  All times expressed have a stated relationship (offset) to
      Coordinated Universal Time (UTC).  (This is distinct from some
      usage in scheduling applications where a local time and location
      may be known, but the actual relationship to UTC may be dependent
      on the unknown or unknowable actions of politicians or
      administrators.  The UTC time corresponding to 17:00 on 23rd March
      2005 in New York may depend on administrative decisions about
      daylight savings time.  This specification steers well clear of
      such considerations.)

   o  Timestamps can express times that occurred before the introduction
      of UTC.  Such timestamps are expressed relative to universal time,
      using the best available practice at the stated time.

   o  Date and time expressions indicate an instant in time.
      Description of time periods, or intervals, is not covered here.







Klyne, et. al.              Standards Track                     [Page 2]
RFC 3339       Date and Time on the Internet: Timestamps       July 2002


2. Definitions

   The key words "MUST", "MUST NOT", "REQUIRED", "SHALL", "SHALL NOT",
   "SHOULD", "SHOULD NOT", "RECOMMENDED", "MAY", and "OPTIONAL" in this
   document are to be interpreted as described in RFC 2119 [RFC2119].

      UTC         Coordinated Universal Time as maintained by the Bureau
                  International des Poids et Mesures (BIPM).

      second      A basic unit of measurement of time in the
                  International System of Units.  It is defined as the
                  duration of 9,192,631,770 cycles of microwave light
                  absorbed or emitted by the hyperfine transition of
                  cesium-133 atoms in their ground state undisturbed by
                  external fields.

      minute      A period of time of 60 seconds.  However, see also the
                  restrictions in section 5.7 and Appendix D for how
                  leap seconds are denoted within minutes.

      hour        A period of time of 60 minutes.

      day         A period of time of 24 hours.

      leap year   In the Gregorian calendar, a year which has 366 days.
                  A leap year is a year whose number is divisible by
                  four an integral number of times, except that if it is
                  a centennial year (i.e. divisible by one hundred) it
                  shall also be divisible by four hundred an integral
                  number of times.

      ABNF        Augmented Backus-Naur Form, a format used to represent
                  permissible strings in a protocol or language, as
                  defined in [ABNF].

      Email Date/Time Format
                  The date/time format used by Internet Mail as defined
                  by RFC 2822 [IMAIL-UPDATE].

      Internet Date/Time Format
                  The date format defined in section 5 of this document.

      Timestamp   This term is used in this document to refer to an
                  unambiguous representation of some instant in time.

      Z           A suffix which, when applied to a time, denotes a UTC
                  offset of 00:00; often spoken "Zulu" from the ICAO
                  phonetic alphabet representation of the letter "Z".



Klyne, et. al.              Standards Track                     [Page 3]
RFC 3339       Date and Time on the Internet: Timestamps       July 2002


      For more information about time scales, see Appendix E of [NTP],
      Section 3 of [ISO8601], and the appropriate ITU documents [ITU-R-
      TF].

3. Two Digit Years

   The following requirements are to address the problems of ambiguity
   of 2-digit years:

      o  Internet Protocols MUST generate four digit years in dates.

      o  The use of 2-digit years is deprecated.  If a 2-digit year is
         received, it should be accepted ONLY if an incorrect
         interpretation will not cause a protocol or processing failure
         (e.g. if used only for logging or tracing purposes).

      o  It is possible that a program using two digit years will
         represent years after 1999 as three digits.  This occurs if the
         program simply subtracts 1900 from the year and doesn't check
         the number of digits.  Programs wishing to robustly deal with
         dates generated by such broken software may add 1900 to three
         digit years.

      o  It is possible that a program using two digit years will
         represent years after 1999 as ":0", ":1", ... ":9", ";0", ...
         This occurs if the program simply subtracts 1900 from the year
         and adds the decade to the US-ASCII character zero.  Programs
         wishing to robustly deal with dates generated by such broken
         software should detect non-numeric decades and interpret
         appropriately.

   The problems with two digit years amply demonstrate why all dates and
   times used in Internet protocols MUST be fully qualified.

4. Local Time

4.1. Coordinated Universal Time (UTC)

   Because the daylight saving rules for local time zones are so
   convoluted and can change based on local law at unpredictable times,
   true interoperability is best achieved by using Coordinated Universal
   Time (UTC).  This specification does not cater to local time zone
   rules.








Klyne, et. al.              Standards Track                     [Page 4]
RFC 3339       Date and Time on the Internet: Timestamps       July 2002


4.2. Local Offsets

   The offset between local time and UTC is often useful information.
   For example, in electronic mail (RFC2822, [IMAIL-UPDATE]) the local
   offset provides a useful heuristic to determine the probability of a
   prompt response.  Attempts to label local offsets with alphabetic
   strings have resulted in poor interoperability in the past [IMAIL],
   [HOST-REQ].  As a result, RFC2822 [IMAIL-UPDATE] has made numeric
   offsets mandatory.

   Numeric offsets are calculated as "local time minus UTC".  So the
   equivalent time in UTC can be determined by subtracting the offset
   from the local time.  For example, 18:50:00-04:00 is the same time as
   22:50:00Z.  (This example shows negative offsets handled by adding
   the absolute value of the offset.)

      NOTE: Following ISO 8601, numeric offsets represent only time
      zones that differ from UTC by an integral number of minutes.
      However, many historical time zones differ from UTC by a non-
      integral number of minutes.  To represent such historical time
      stamps exactly, applications must convert them to a representable
      time zone.

4.3. Unknown Local Offset Convention

   If the time in UTC is known, but the offset to local time is unknown,
   this can be represented with an offset of "-00:00".  This differs
   semantically from an offset of "Z" or "+00:00", which imply that UTC
   is the preferred reference point for the specified time.  RFC2822
   [IMAIL-UPDATE] describes a similar convention for email.

4.4. Unqualified Local Time

   A number of devices currently connected to the Internet run their
   internal clocks in local time and are unaware of UTC.  While the
   Internet does have a tradition of accepting reality when creating
   specifications, this should not be done at the expense of
   interoperability.  Since interpretation of an unqualified local time
   zone will fail in approximately 23/24 of the globe, the
   interoperability problems of unqualified local time are deemed
   unacceptable for the Internet.  Systems that are configured with a
   local time, are unaware of the corresponding UTC offset, and depend
   on time synchronization with other Internet systems, MUST use a
   mechanism that ensures correct synchronization with UTC.  Some
   suitable mechanisms are:

   o  Use Network Time Protocol [NTP] to obtain the time in UTC.




Klyne, et. al.              Standards Track                     [Page 5]
RFC 3339       Date and Time on the Internet: Timestamps       July 2002


   o  Use another host in the same local time zone as a gateway to the
      Internet.  This host MUST correct unqualified local times that are
      transmitted to other hosts.

   o  Prompt the user for the local time zone and daylight saving rule
      settings.

5. Date and Time format

   This section discusses desirable qualities of date and time formats
   and defines a profile of ISO 8601 for use in Internet protocols.

5.1. Ordering

   If date and time components are ordered from least precise to most
   precise, then a useful property is achieved.  Assuming that the time
   zones of the dates and times are the same (e.g., all in UTC),
   expressed using the same string (e.g., all "Z" or all "+00:00"), and
   all times have the same number of fractional second digits, then the
   date and time strings may be sorted as strings (e.g., using the
   strcmp() function in C) and a time-ordered sequence will result.  The
   presence of optional punctuation would violate this characteristic.

5.2. Human Readability

   人類可讀性已被證明是網際網路
   協定的重要特性。人類可讀的協定大大降低了調試成本，
   因為telnet通常足以作為測試客戶端，而且網路
   分析器無需為了了解協議而進行修改。
   另一方面，人類可讀性有時會導致
   互通性問題。例如，日期格式“10/11/1996”
   完全不適合全球交換，因為它
   在不同國家/地區的解釋方式不同。此外，
   [ IMAIL ]中的日期格式也導致了互通性問題，因為
   人們誤以為任何文字字串都是允許的，並將三
   字母縮寫翻譯成其他語言，或替換成
   更容易產生的日期格式（例如C函數ctime使用的格式
   ）。因此，必須在人類
   可讀性和互通性之間取得平衡。

   由於沒有一種日期和時間格式可以完全符合
   所有國家/地區的慣例，因此網路用戶端應該準備好
   將日期轉換為適合當地環境的顯示格式。
   這可能包括將UTC時間轉換為當地時間。 Klyne等。標準追蹤 [第 6 頁]







RFC 3339       網路上的日期與時間：時間戳記 2002 年 7 月


5.3不常用選項

   包含不常用選項的格式很可能導致
   互通性問題。這是因為不常用選項
   在 alpha 或 beta 測試階段使用的可能性較低，因此解析錯誤
   也更難被發現。
   為了確保互通性，應
   盡可能將不常用選項設為必填項或直接省略。

   以下定義的格式僅包含一個不常用選項：
   秒的小數部分。預計只有
   那些需要嚴格按照日期/時間戳順序排列或
   具有特殊精度要求的應用程式才會使用此選項。

5.4冗餘資訊

   如果日期/時間格式包含冗餘訊息，則
   可能導致這些冗餘資訊不符。
   例如，在日期/時間格式中包含星期幾，
   就可能出現星期幾錯誤但日期正確，反之亦然的情況。由於
   根據日期計算星期幾
   並不難（請參閱附錄 B ），
   因此日期/時間格式中不應包含星期幾。

5.5 . 簡潔性

   ISO 8601 [ ISO8601 ]
   中規定的完整日期和時間格式集相當複雜，旨在提供多種
   表示形式和部分錶示形式。  附錄 A嘗試
   將 ISO 8601 的完整語法轉換為 ABNF。
   網際網路協定的要求有所不同，
   簡潔性已被證明是一項重要的特性。此外
   ，網際網路協定通常需要完整的資料規格
   才能實現真正的互通性。因此， ISO 8601 的完整語法對於大多數網際網路
   協定
   而言過於複雜。
   以下部分定義了一個適用於網際網路的 ISO 8601 設定檔
   。它是 ISO 8601 擴展格式的一個符合規範的子集。
   透過強制要求大多數字段和標點符號，實現了簡潔性
   。 Klyne等人，標準追蹤 [第 7 頁]











RFC 3339       網路上的日期與時間：時間戳記 2002 年 7 月


5.6 . 網路日期/時間格式

   以下 ISO 8601 [ ISO8601 ] 日期規範應在
   新網際網路協定中使用。此規範採用 [ ABNF ]
   中定義的語法描述符號進行指定。 date 
   -fullyear = 4DIGIT 
   date-month = 2DIGIT ; 01-12 date- 
   mday 
   = 2DIGIT ; 01-28, 01-29, 01-30, 01-31 based on 
                             ; month/year 
   time-hour = 2DIGIT ; 
   time-second = 2DIGIT ; 00-58, 00-59, 00-60 based on leap second 
                             ; rules 
   time-secfrac = "." 1*DIGIT
   時間-數字偏移量 = ("+" / "-") 時間-小時 ":"
   時間-分鐘
   偏移量時間-分鐘 ":" 時間-秒
                     [時間-秒分數]
   完整日期 = 日期-年 "-" 日期-月 "-" 日期-月日
   完整時間 = 部分時間 時間偏移量
   日期-時間 = 完整日期 "T" 完整時間
      注意：根據 [ ABNF ] 和 ISO8601 標準，此
      語法中的“Tz”和“Z”也可以分別寫“t”或“tz”。
      此日期/時間格式可用於某些
      區分大寫字母“A”-“Z”和小寫字母“a”-“z”的環境或上下文中
      （例如 XML）。在上述環境下使用此格式的規格
      可能會進一步限制日期/時間語法，要求
      日期/時間語法中使用的字母“T”和“Z”必須始終
      大寫。產生此格式的應用程式應使用
      大寫字母。
      注意：ISO 8601 定義了日期和時間之間以「T」分隔。
      為了提高
      可讀性，使用此語法的應用程式可以選擇指定完整的日期和完整的時間，並以
      空格字元（例如）分隔。 Klyne等人，《標準追蹤》[第 8 頁]

















RFC 3339       網路上的日期與時間：時間戳記 2002 年 7 月


5.7限制

   語法元素 date-mday 表示目前月份的日期編號
   。其最大值根據月份和年份而變化
   ，如下所示：

      月份 日期 月份/年份 date-mday 的最大值
      ------------ ---------- -------------------------- 
      01 1月 31 
      02 2月（平年） 28 
      02 2月（閏年） 29 
      03 3月 31 
      04 47 月105 月 30 月 56 月 30 月 56 月 30
      月
      56月
      30 月 56 月
      30 月 56 月
      08 8月 31 
      09 9月 30 
      10月 31 11月 30 
      12 12月 31附錄 C包含用於確定年份是否為閏年的範例 C 代碼
   。
   語法元素 time-second 在閏秒的月份末尾可能具有值「60」
   — 迄今為止：6 月 (XXXX-06-30T23 
   :59:60Z) 或 12 月 (XXXX-12-31T23:59:60Z)；閏秒錶請附錄 D。
   也可以減去閏秒
   ，此時時間秒的最大值為「58」。
   在其他所有時間，時間秒的最大值為“59”。
   此外，在「Z」時區以外的時區，閏秒點會
   根據時區偏移量進行偏移（因此它在
   全球發生在同一時刻）。
   閏秒無法預測未來很長一段時間。
   國際地球自轉服務 ( IERS )會發佈公告，
   提前幾週通知閏秒。應用程式在
   閏秒發布
   之前不應產生包含插入閏秒的時間戳記。
   雖然 ISO 8601 允許小時數為“24”，但為了
   減少混淆，此 ISO 
   8601 規範僅允許小時數取值在“00”到“23”之間。 Klyne等人，《標準追蹤》[第 9 頁]

   










RFC 3339       網路上的日期與時間：時間戳記 2002 年 7 月


5.8範例

   以下是一些網路日期/時間格式範例。 1985-04-12T23 

      :20:50.52Z

   表示
   1985 年 4 月 12 日 23 點過 20 分 50.52 秒（UTC 時間）。 1996-12-19T16 

      :39:57-08:00

   表示 1996 年 12 月 19 日 16 點過 39 分 57 秒，
   與 UTC（太平洋標準時間）的偏移量為 -08:00 
   。請注意，這相當於 1996-12-20T00:39:57Z 
   （UTC 時間）。

      1990-12-31T23:59:60Z

   這表示1990年底插入的閏秒。 1990-12-31T15 

      :59:60-08:00

   這表示太平洋標準時間的同一閏秒，
   比UTC晚8小時。 1937-01-01T12 

      :00:27.87+00:20

   這表示1937年1月1日中午12點的同一時刻，即
   荷蘭時間。根據法律規定，從1909年5月1日至1937年6月30日，荷蘭標準時間
   比UTC快19分32.13秒
   。此時區無法使用HH:MM格式精確表示
   ，因此該時間戳記使用了最接近的UTC
   偏移量。

6.參考文獻

   [ ZELLER ] Zeller, C.，“Kalender-Formeln”，《數學學報》，第
                  9 卷，1886 年 11 月。

   [ IMAIL ] Crocker, D.，“ARPA 互聯網
                  文本訊息格式標準”，STD 11， RFC 822，1982年 8 月。

   [ IMAIL-UPDATE ] Resnick, P.，“互聯網訊息格式”，RFC 2822，2001年
                  4 月。

   [ ABNF ] Crocker, D. 和 P. Overell，“語法規範的增強型 BNF 
                  ：ABNF”，RFC 2234，1997年 11 月。 Klyne等人，標準追蹤 [第 10 頁]




RFC 3339       網路上的日期和時間：時間戳，2002 年 7 月。

 
   [ ISO8601 ] “資料元素與交換格式－資訊
                  交換－日期和時間的表示”，ISO
                  8601:1988(E)，國際標準化組織
                  ，1988 年 6 月。

   [ISO8601:2000] “資料元素和交換格式—資訊
                  交換—日期和時間的表示”，ISO
                  8601:2000，國際
                  標準化組織，2000 年 12 月。

   [ HOST-REQ ] Braden, R.，“互聯網主機的要求——
                  應用和支援”，STD 3， RFC 1123，1989
                  年10 月。

   [ IERS ] 國際地球自轉服務公告，
                  < http://hpiers.obspm.fr/eop-pc/products/bulletins.html
                   >。
   [ NTP ] Mills, D，“網路時間協定（版本 3）
                  規範、實作與分析”， RFC 1305，1992年
                  3 月。
   [ ITU-R-TF ] 國際電信聯盟
                  對時間訊號與頻率標準發射的建議。
                  < http://www.itu.ch/publications/itu-r/iturtf.htm >
   [ RFC2119 ] Bradner, S，“用於在 RFC 中指示
                  需求級別的關鍵字”， BCP 14， RFC 2119，1997年 3 月。




7.安全考慮

   由於站點的本地時區有助於確定
   係統不易被監控、更容易
   受到安全探測的時間，因此一些站點可能希望僅以 UTC 時間發佈時間。而另一些站點則可能認為這是出於
   過度謹慎而
   導致的功能損失。 Klyne等人，《標準追蹤》[第 11 頁]















RFC 3339       網路上的日期與時間：時間戳記 2002 年 7 月


附錄 A. ISO 8601 收集的 ABNF

   此資訊基於 ISO 8601 1988 版。 2000
   版可能有所更改。 ISO 

   8601 並未為其定義的日期和時間
   格式指定正式語法。以下內容嘗試
   根據 ISO 8601 建立正式語法。此語法僅供參考，可能有
   錯誤。 ISO 8601 仍然是權威參考標準。

   請注意，由於 ISO 8601 中存在歧義，因此必須
   進行一些解釋。首先，ISO 8601 未明確是否
   允許混合使用基本格式和擴充格式。此語法允許混合使用。 ISO 
   8601 未明確規定 24 小時是否僅在
   分鐘和秒均為 0 時才允許。此語法假設 24 小時在任何情況下都允許。在第 5.7 節
   中關於日期-分鐘-日期 (date-mday) 的限制
   適用。 ISO 8601 指出，在某些情況下可以省略「T」
   。此語法要求使用“T”以避免歧義。 ISO 
   8601（在5.3.1.3 節）也要求，如果小數
   小於 1，則小數前必須加「0」。 ISO 8601 的附錄 B.2
   給出了小數前未加「0」的範例。
   此語法假設5.3.1.3 節正確，附錄 B.2
   錯誤。 date 
   -century = 2DIGIT ; 00-99 
   date-decade = DIGIT ; 0-9 
   date-subdecade = DIGIT ; 0-9 
   date-year = date-decade date-subdecade date-fullyear 
   = date-century date-year 
   date-month = IGDate-fullyear = date-century 
   date-year date-month = IGD.代表星期一，7 代表星期日
   date-mday = 2DIGIT ;基於 01-28、01-29、01-30、01-31 
                             ；月/年
   date-yday = 3DIGIT；基於年份的
   001-365、001-366 date-weully = 23Date 
   ； [date-century] date-year ["-"] 
   datepart-ptyear = "-" [date-subdecade ["-"]] 
   datepart-wkyear = datepart-ptyear / datepart-fullyear 
   dateopt- century 
   = "-" /ate-century-century-century- 
   century-fid-fid-part. (date-year ["-"]) 
   dateopt-month = "-" / (date-month ["-"]) 
   dateopt-week = "-" / (date-week ["-"]) Klyne 等人。標準追蹤 [第 12 頁]









RFC 3339       網路上的日期與時間：時間戳記 2002 年 7 月


   datespec-full = datepart-fullyear date-month ["-"] date-mday
   datespec-year = date-century / dateopt-century date-year
   datespec-year = date-century / dateopt-century date-year datespec-month-datespec-month-monate"
   datespec-mday = "--" dateopt-month date-mday
   datespec-week = datepart-wkyear "W"
                       (date-week / dateopt-week date-wday)
   datespec-wday = "---" date-wday
   datespec-yday = dateopt-fearwday = "---" date-wday

   datespec-yday = dateopt-fearm/ated
                       . datespec-month /
   datespec-mday / datespec-week / datespec-wday / datespec-yday

時間：

   time
   = 2DIGIT ; 00-24
   time-minute = 2DIGIT
                              ; 00-59時間-秒
   = 2DIGIT； / ".") 1*DIGIT
   時間偏移量 = ("+" / "-") 時間小時 [[":"] 時間分鐘]
   時區 = "Z" / 時間偏移量

   可選小時 = "-" / (時間小時 [":"])
   可選分鐘 = "-" / (時間分鐘 [":"])

   時間規格小時 = 時間小時 [[":"] 時間分鐘 [[":"] 時間秒]] 時間
   規格分鐘 =可選小時 時間秒 [[":"] 時間秒] 時間
   規格秒 = "-" 選用分鐘 時間秒 時間規格
   基數 = 時間規格小時 / 時間規格分鐘 / 時間規格秒

   時間 = 時間規格基數 [時間分數] [時區]

   iso-date-time = date "T" 時間規格基數 [

時間分數] [時

   區] iso-
   date-time = date "T" 時間持續時間：持續時間持續時間長度"
   dur-hour = 1*DIGIT "H" [dur-minute]
   dur-time = "T" (dur-hour / dur-minute / dur-second)
   dur-day = 1*DIGIT "D"
   dur-week = 1*DIGIT "W"
   dur-IGmonth = 1*D" dur-week = 1*DIGIT "W"
   dur-IGmonth = 1*D" durIT" [dur-month]
   dur-date = (dur-day / dur-month / dur-year) [dur-time]

   duration = "P" (dur-date / dur-time / dur-week) Klyne 等人，《標準追蹤》[第 13 頁]



RFC 3339       互聯網上的日期和時間：時間戳 2002 年 7 月


週期：

   period-explicit = iso-date-time "/" iso-date-time
   period-start = iso-date-time "/
   " duration period-end = duration

   "/ period-end

附錄 B.星期幾

   以下是一個基於澤勒
   同餘公式 [Zeller] 的 C 語言子程式範例，可用於取得公元
   0000-03-01 及之後日期對應的星期幾： char 
      * 

   day_of_week(int day, int month, int year) 
   { 
      int cent; 
         charday,weSunweh[], day,day" 
         Thursday", "Friday", "Saturday" 
      }; 
      /* 調整月份，使二月為最後一個月 */ 
      month -= 2; 
      if (month < 1) { 
         month += 12; 
         --year; 
      } 
      /* 按世紀分割 */ 
      cent = year / 100; 
      year % /*
      按世紀分割 */ cent = year / 100; year %( 10 + 天 + year 
                        + year / 4 + cent / 4 + 5 * cent) % 7]); 
   }


附錄C.閏年

   以下是用來判斷年份是否為閏年的 C 子程式範例：

   /* 如果年份是閏年，則傳回非零值。必須使用四位數
      年份。
    */ 
   int leap_year(int year) 
   { 
       return (year % 4 == 0 && (year % 100 != 0 || year % 400 == 0)); 
   } Klyne 等人，《標準追蹤》[第 14 頁]





RFC 3339       網路上的日期與時間：時間戳記 2002 年 7 月


附錄D.閏秒

   閏秒的資訊可在以下網址找到：
   < http://tycho.usno.navy.mil/leapsec.html >。該網站特別指出
   ：

      在世界協調時 (UTC) 中引入閏秒的決定
      由國際地球自轉服務 (IERS) 負責。
      根據 CCIR 建議，優先考慮
      12 月底和 6 月底的閏秒，其次是
      3 月底和 9 月底的閏秒。

   如有需要，閏秒的插入方式是在 UTC 時間一天結束時增加一秒
   ，時間戳格式為
   YYYY-MM-DDT23:59:60Z。閏秒在所有時區同時發生
   ，因此不會影響時區關係。有關閏秒時間的範例，請參閱第 5.8 節。
   下表摘自
   美國海軍天文台維護的表格。來源資料位於：
      < ftp://maia.usno.navy.mil/ser7/tai-utc.dat > Klyne 等人。標準追蹤 [第 15 頁]
   































RFC 3339       網路上的日期與時間：時間戳記 2002 年 7 月


   此表顯示了閏秒的日期，以及
   時間標準 TAI（不受閏秒調整）
   與 UTC 之間的差異。
   日期

   TAI - UTC閏秒後
   -------- ---------------------------
   1972-06-30 11
   1972-12-31 12
   1973-12-31 13
   1974-12-31 14
   1975-12-31
   15 1976-1919176-191
   196-193
   1978-12-31 18
   1979-12-31 19
   1981-06-30 20
   1982-06-30 21 1983-06-30 22
   1985-06-30
   23
   1987-192-1931 192-1931
   1990-12-31 26
   1992-06-30 27
   1993-06-30 28 1994-06-30 29
   1995-12-31 30 1997-06-30 31
   1997-06-30 31 1998-112-300 1997-06-30 31 1998-112-3000 12-300 標準 212-300
   12-300 12-300 12-300 12-300 12-300 標準 212-30
   12-32-30 12-30 標準 2-12-300 2-32-30 12-30標準 212-32























RFC 3339       網路上的日期和時間：時間戳 2002 年 7 月


致謝

   以下人員為本
   文檔的早期版本提供了寶貴建議：Ned Freed、Neal McBurnett、David
   Keegel、Markus Kuhn、Paul Eggert 和 Robert Elz。同時感謝
   IETF 行事曆/排程工作小組
   郵件清單和時區郵件清單的參與者。

   以下審閱者為本
   次修訂提出了寶貴建議：Tom Harsch、Markus Kuhn、Pete Resnick 和 Dan Kohn。 Paul
   Eggert 對閏秒和時區偏移的細微差別提出了許多細緻的見解
   。以下
   人員對早期草稿提出了更正和改進意見：John
   Stockton 博士、Jutta Degener、Joe Abley 和 Dan Wing。

作者地址：

   Chris Newman，
   Sun Microsystems，
   1050 Lakes Drive, Suite 250，
   West Covina, CA 91790 USA，

   電子郵件：chris.newman@sun.com;


   Graham Klyne（本修訂版編輯），
   Clearswift Corporation，
   1310 Waterside
   Arlington Business Park
   ，TheRG 4ading
   電話：743 電話
   ：
8903，
   傳真：+44 11 8903 9000，
   電子郵件：GK@ACM.ORG； Klyne 等，《標準追蹤》[第 17 頁]
















RFC 3339       互聯網上的日期和時間：時間戳 2002 年 7 月


完整版權聲明

   版權所有 (C) 互聯網協會 (2002)。保留所有權利。

   本文件及其譯本可以複製並提供給
   可以製作、複製、出版
   對本文件進行評論、解釋或有助於其實施的衍生作品
   ，無論全部或部分，均不受任何限制
   所有此類副本和衍生作品
   均須包含上述版權聲明和本段文字
   文件本身不得以任何方式修改，例如刪除
   版權聲明或對互聯網協會或其他
   互聯網組織的引用，除非是為了製定互聯網標準而必須進行修改（
   ，必須遵循互聯網標準流程中定義的版權
   程序
   ），或者為了將其翻譯成英語以外的其他語言而必須
   。
   互聯網協會或其繼承人或受讓人
   均不會
   本文檔及其所含資訊均以「現況」提供
   ，網路協會及網際網路工程
   任務組不作任何明示或暗示的保證，包括
   但不限於保證使用本文檔中的資訊
   適銷性或特定用途適用性
   的暗示保證
致謝
   RFC 編輯器功能的資金目前由互聯網協會提供
   。 Klyne
等人，標準追蹤 [第 18 頁]























RFC 3339
RFC - 建議標準




文件類型
RFC -
2002 年 7 月 建議標準
 
根據RFC 9557更新
是 Draft-ietf-impp-datetime ( impp WG )
選擇版本
04
RFC 3339
比較版本

draft-ietf-impp-datetime-04

RFC 3339
 
作者
G·克萊恩 C 紐曼 
RFC串流

其他格式
   
更多資源
郵件清單討論
"
 https://www.rfc-editor.org/info/rfc3339/#:~:text=RFC%203339,%E5%96%AE%E8%A8%8E%E8%AB%96